.reticle-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
}
.reticle-line{
    opacity: 0.7;
}

.map-dark-sat .reticle-text, 
.map-dark-topo .reticle-text,
.map-dark-topo .reticle-line,
.map-dark-sat .reticle-line {
    fill: white;
}

.map-default .reticle-text,
.map-light-topo .reticle-text,
.map-default .reticle-line,
.map-light-topo .reticle-line{
    fill: var(--gray-600);
}

.map-vivid-topo .reticle-text,
.map-vivid-topo .reticle-line{
    fill: var(--gray-950);
}