.reticle-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    transition: fill ease-out 0.3s
}
.reticle-line{
    opacity: 0.7;
    
}
.reticle-line.x {
    transition: width ease-out 0.1s;
}
.reticle-line.y {
    transition: height ease-out 0.1s;
}
.reticle-tick.x{
    transition: x ease-out 0.1s;
}
.reticle-tick.y{
    transition: y ease-out 0.1s;
}

.reticle-text{
    font-size: x-small;
}
.reticle-text x{
    transition: x ease-out 0.2s;
}
.reticle-text y{
    transition: y ease-out 0.2s;
}

.map-dark-sat .reticle-container ,
.map-dark-topo .reticle-container {
    fill: white;
}

.map-default .reticle-container,
.map-light-topo .reticle-container {
    fill: var(--gray-600);
}
.map-vivid-topo .reticle-container{
    fill: var(--gray-950);
}