.gis-control-toolbar {
    opacity: 0.87;
    background: var(--gis-panel-background);
    border-radius: 0.25rem;
    outline: 1px solid var(--gis-outline);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    margin: 0.5rem;
}
/* About backdrop-filter
https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome
*/