@import url('../ark-styles/checkbox.css');
@import url('../ark-styles/radiogroup.css');
@import url('../ark-styles/backdrop.css');
@import url('../components/manageobjects.css');
@import url('../controls/layerswitcher/layercontrol.css');
@import url('../controls/suncalc/suncalc.css');
@import url('../controls/reticle/reticle.css');
@import url('../controls/messages/toast.css');
@import url('../controls/weather/weather.css');

.gis-control-toolbar {
    opacity: 0.87;
    background: var(--gis-panel-background);
    border-radius: 0.25rem;
    outline: 1px solid var(--gis-outline);
    -webkit-backdrop-filter: blur(4px);
    -moz-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    width: max-content;
    height: max-content;
    gap: 2px;
    padding: 0.25rem;
    pointer-events: auto;
}
/* About backdrop-filter
https://stackoverflow.com/questions/60997948/backdrop-filter-not-working-for-nested-elements-in-chrome
*/
.gis-flex-column
{
    display: flex;
    flex-direction: column;
}
#ol-grid-container {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1 auto 1;
    grid-template-rows: auto auto auto;
    justify-items: flex-start;
    align-items: flex-start;
}
#ol-container-1-1
{
    display: flex;
    pointer-events: none;
    gap: 1rem;
    grid-column: 1;
    grid-row: 1;
    margin: 0.5rem;
}
#modal-overlay,
#toast-overlay{
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
#modal-overlay{
    z-index: 1;
}
#toast-overlay{
    z-index: 2;
}

#ol-container-100vh-100vw
{
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
    z-index: -1;
    width: 100%;
    height: 100%;
}
.suncalc
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.gis-zoom {
    
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    background-color: var(--gis-panel-background) !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    padding: 3px !important;
    outline: 1px solid var(--gis-outline);
    opacity: 0.87;
    border-radius: 3px !important;
}
.gis-zoom button {
   pointer-events: auto;
   width: 1.5rem !important;
   height: 1.5rem !important;
   background-color: unset !important;
   color: var(--gis-text-base) !important;
}


.gis-rotate {
    padding: 3px !important;
    outline: 1px solid var(--gis-outline);
    position: unset;
    top: unset;
    left: unset;
    right: unset;
    background-color: var(--gis-panel-background) !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
    opacity: 0.87;
    border-radius: 3px !important;
}
.gis-rotate button {
   pointer-events: auto;
   width: 1.5rem !important;
   height: 1.5rem !important;
   background-color: unset !important;
   color: var(--gis-text-base) !important;
}
.gis-mainmenu
{
    z-index: 1;
    opacity: 1;
    pointer-events: auto;
}
.gis-control-toolbar.gis-mainmenu
{
    opacity: 0.87;
}

div[data-scope='menu'][data-part='content'][data-state='open']{
    background-color: var(--gis-panel-background);
    box-shadow: black 0 0 16px;
    margin: -0.25rem -0.25rem;
    padding: 0.25rem 0;
    border-radius: 3px;
    opacity: 1;
}
div[data-scope='menu'][data-part='content'][data-state='open']:focus-visible{
    outline: 2px solid var(--gis-outline);
}
div[data-scope='menu'][data-part='trigger-item'],
div[data-scope='menu'][data-part='item']{
    color: var(--gis-text-base);
    padding: 0.25rem 1rem;
    font-size: small;
}
div[data-scope='menu'][data-part='trigger-item']:hover,
div[data-scope='menu'][data-part='item']:hover{
    background-color: var(--gis-input-background-hover);
}
div[data-scope='menu'][data-part='item'][aria-disabled='true']{
    color: var(--gis-text-subtle);
}
hr[data-scope='menu'][data-part='separator']{
    all: unset;
    display: block;
    height: 1px;
    margin: 0.25rem 0.25rem;
    background-color: var(--gis-outline);
}
a[data-scope='dialog']{
    color: var(--gis-primary);
}

h1[data-scope='dialog']{
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
}
button[data-scope='dialog']{
    all: unset;
    border: 1px solid var(--gis-outline);
    padding: 0.25rem 0.5rem;
    border-radius: 3px;
    font-size: small;
}
button[data-scope='dialog']:hover{
    background-color: var(--gis-input-background-hover);   
}
button[data-scope='dialog']:active{
    border-color: var(--gis-input-background-active);
    color: var(--gis-text-light); 
}
button[data-scope='dialog']:disabled{
    opacity: 0.5;
    pointer-events: none;
}

button[data-scope='dialog']:focus-visible{
    outline: 1px solid var(--gis-primary);
}

.map-dark-topo,
.map-dark-sat {
    --map-text-base: white;
    --map-text-light: var(--gray-200);
    --map-text-subtle: var(--gray-500);
    --map-line-base: var(--gray-100);
    --map-inverse: black;
    --map-inverse-light: rgba(0,0,0,0.7);
    --map-inverse-subtle: rgba(0,0,0,0.5);
    background-color: var(--gray-700);
}
.map-default,
.map-light-topo,
.map-vivid-topo {
    --map-text-base: black;
    --map-text-light: var(--gray-900);
    --map-text-subtle: var(--gray-600);
    --map-inverse: white;
    --map-inverse-light: rgba(255,255,255,0.7);
    --map-inverse-subtle: rgba(255,255,255,0.5);
    --map-line-base: var(--gray-800);
    background-color: var(--gray-50);
}