@import url('../../node_modules/ol/ol.css');

/* control container */
.ol-overlaycontainer-stopevent{
    display: block;
  }
  @media print {
    .ol-overlaycontainer-stopevent {
      display: none;
    }
  }

.ol-control {
  position: unset !important;
}
.ol-scale-line{
   -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  background: unset !important;
  mix-blend-mode: difference !important;
}

.ol-scale-line-inner{
  color: var(--map-text-base) !important;
  border-color: var(--map-text-base) !important;
}

.map-vivid-topo .ol-scale-line-inner{
  font-weight: 900;
}