.gis-layercontrol
{
    grid-column: 3;
    grid-row-start: 1;;
    grid-row-end: 2;
    align-self: start;
    justify-self: end;
    margin: 0.5rem;
    display: flex; /* https://stackoverflow.com/questions/33891709/when-flexbox-items-wrap-in-column-mode-container-does-not-grow-its-width */
    flex-wrap: wrap;
    flex-direction: column;
    min-height: 2rem;
    min-width: 100px;
    max-height: calc(100vh - 1.5rem);
    background: var(--gis-panel-background);
    color: var(--gis-text-base);
    opacity: 0.87;
    padding: 0.25rem;
    border-radius: 0.25rem;
    border: 1px solid var(--gis-text-subtle);
    overflow: auto;
}
/* https://stackoverflow.com/questions/306252/how-to-align-checkboxes-and-their-labels-consistently-cross-browsers */
.gis-layercontrol label
{
    padding-right: 0.25rem;
    height: 20px;
    vertical-align: middle;
    border-radius: 0.2rem;
    font-size: small;
}

.gis-layercontrol label.disabled
{
    opacity: 0.5;
}


@media (prefers-color-scheme: light)
{
    .gis-layercontrol label:hover
    {
        background-color: var(--blue-100);
        color: var(--blue-950);
    }
}
@media (prefers-color-scheme: dark)
{
    .gis-layercontrol label:hover
    {
        background-color: var(--blue-900);
        color: var(--blue-50);
    }
}

.gis-layercontrol label:active
{
    @media (prefers-color-scheme: light)
    {
        color: var(--blue-800);
    }
    @media (prefers-color-scheme: dark)
    {
        color: var(--blue-200);
    }
}


.gis-layercontrol .set{
    padding: 0.25rem 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}