.gis-toolbar
{
    display: flex;
    flex-direction: column;
}

.gis-toolbar-button
{
    all: unset;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gis-panel-background);
    color: var(--gis-text-base);
}

.gis-toolbar-button[aria-pressed='true']{
    background-color: var(--gis-input-background-checked);
}

.gis-toolbar-button:hover {
    background-color: var(--gis-input-background-checked-hover);
}

.gis-toolbar-button:active
{
    outline: 2px solid var(--gis-outline);
}

.highlight-enter-active,
.highlight-exit-active
{
    transition: color 0.5s;
}
.highlight-enter,
.highlight-exit-to {
    color: var(--gis-text-base);
}
.highlight-enter {
  color: var(--orange-400);
}