#suncalc-container{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}
#suncalc-container.css-debug{
    outline: 1px solid red;
}
.css-debug #suncalc-circle
{
    outline: 1px solid green;
}
#suncalc{
    transition: transform 0.2s;
}
.css-debug #suncalc{
    outline: 1px solid blue;
    pointer-events: all;
}
.suncalc-sun {
    fill: var(--yellow-200);
}
.suncalc-shaded
{
    opacity: 0.5;
}
.suncalc-sun-label
{
    font-size: x-small;
    fill: var(--yellow-100);
    text-shadow: 0px 0px 4px black;
}

.suncalc-control {
    pointer-events: none;
}

@media (pointer: coarse) {
    .suncalc-sun-label {
        font-size: 9px;
    }
}

@media (pointer: fine) {
    .suncalc-sun-label {
        font-size: 11px;
    }
}

.suncalc-sun-path {
    stroke-width: 2;
    stroke-opacity: 0.7;
    stroke-dasharray: 7px 3px;
    fill: none;
    stroke: var(--yellow-200);
}

.suncalc-moon-path {
    stroke-width: 2;
    stroke-dasharray: 2 2;
    stroke-opacity: 0.7;
    fill: none;
    stroke: white;
}

.suncalc-azimuth-circle {
    stroke-width: 2;
    stroke-opacity: 0.8;
    fill: none;
    stroke: white;
}
.css-debug .suncalc-azimuth-circle {
    outline: 1px solid lime;
}