[data-scope='checkbox'][data-part='root'] {
    display: flex;
    flex-direction: row;
    align-items:center;
    cursor: pointer;
    gap: 3px;
  }
  
  [data-scope='checkbox'][data-part='control'] {
    border: 1px solid var(--gis-text-light);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 13px;
    height: 13px;
  }
  
[data-scope='checkbox'][data-part='control'] {
    background-color: var(--gis-input-background);
}

[data-scope='checkbox'][data-part='control'][data-hover] {
    background-color: var(--gis-input-background-hover);
    border-color: var(--gis-input-border-hover);
}

[data-scope='checkbox'][data-part='control'][data-focus] {
    outline: 1px solid var(--gis-focus-outline);
}

[data-scope='checkbox'][data-part='control'][data-state='checked'] {
    background-color: var(--gis-input-background-checked);
    border-color: var(--gis-input-border-checked)
}

[data-scope='checkbox'][data-part='control'][data-state='checked'][data-hover] {
    background-color: var(--gis-input-background-checked-hover);
    border-color: var(--gis-input-border-checked-hover)
}

[data-scope='checkbox'][data-part='control'][data-state='checked']::after {
    display: initial;
  }

  [data-scope='checkbox'][data-part='control']::after {
    content: '';
    display: none;
    width: 4px;
    height: 8px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: -1px;
  }

  [data-scope='checkbox'][data-part='root'][data-disabled]{
    pointer-events: none;
    filter:saturate(0) brightness(0.5);
  }