[data-scope='radio-group'][data-part='root'] {
    position: relative;
    display: flex;
    flex-flow: column;
    align-items: left;
  }
  
  [data-scope='radio-group'][data-part='item'] {
    display: inline-flex;
    align-items: center;
    gap: 3px;
    position: relative;
    z-index: 2;
    cursor: pointer;
  }
  
  [data-scope='radio-group'][data-part='item'][data-disabled] {
    cursor: not-allowed;
  }
  
  [data-scope='radio-group'][data-part='item-label'][data-disabled] {
    opacity: 0.4;
  }
  
  [data-scope='radio-group'][data-part='item-control'] {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px;
    border-color: var(--gis-text-light);
    background-color: var(--gis-input-background);
  }
  
    [data-scope='radio-group'][data-part='item-control'][data-hover] {
        background-color: var(--gis-input-background-hover);
        border-color: var(--gis-input-border-hover);
    }

    [data-scope='radio-group'][data-part='item-control'][data-focus] {
        outline: 1px solid var(--gis-focus-outline);
    }
    
    [data-scope='radio-group'][data-part='item-control'][data-state='checked'] {
        background-color: var(--gis-input-background-checked);
        border-color: var(--gis-input-border-checked);
    }
    
    [data-scope='radio-group'][data-part='item-control'][data-state='checked'][data-hover] {
        background-color: var(--gis-input-background-checked-hover);
        border-color: var(--gis-input-border-checked-hover)
    }
  
  [data-scope='radio-group'][data-part='item-control'][data-state='checked']::after {
    display: initial;
  }
  
  [data-scope='radio-group'][data-part='item-control']::after {
    content: '';
    display: none;
    width: 4px;
    height: 7px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    position: relative;
    top: -1px;
  }
  /*
  [data-scope='radio-group'][data-part='indicator'] {
    height: 4px;
    background-color: red;
    z-index: 1;
    border-radius: 0.25rem;
    box-shadow:
      rgba(0, 0, 0, 0.05) 0px 0.0625rem 0.1875rem,
      rgba(0, 0, 0, 0.1) 0px 0.0625rem 0.125rem;
    background-color: rgb(255, 255, 255);
  }
  */